body{
	margin: 0;
	padding: 0;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
hr{
	border: none;
	height: 2px;
	width: 10%;
	background-color: red;
	
}
.container{
	padding: 0 12%;
}
.text-color{
	color: #fe320a;
}
/*This is header section*/
.menu{
	position: fixed;
	background-color: rgba(0, 0, 0, .3);
	overflow: hidden;
	z-index: 2;
	width: 80%;
}
.menu .left{
	float: left
}
.menu .left img{ 
	padding: 20px;
	width: 80%;
}
.menu .right{
	float: right;
}
.menu .right ul{
	display: flex;
	align-items: center;
	padding: 40px 0;
}
.menu .right ul li a{
	text-decoration: none;
	padding: 0 10px;
	color:  #FEFEFE;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500 ;
}
.header-content h1{
	color: #FEFEFE;
	font-weight: bold;
	font-size: 50px;
	padding-top: 80px;
}
.header-content .txt-color{
	color: red; 
	font-weight: bold;
	font-size: 60px;
}
.header-content p{
	color:  #FEFEFE;
	padding: 5px 10%;
}
.header-content button{
	border: none;
	background-color: red;
	font-size: 20px;
	padding: 15px 30px;
	margin-top: 50px;
	color: white;
}
.header-content{
	background-image: url("images/head.png");
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}
.header-content::after
	
	clear: both;
	display: block;

	background-color: rgba(0, 0, 0, .7);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
/*This is about us section*/
.about .container{
	background-color: grey;
	/*background-color: #F4F1F0;*/
}

.header-text,
.portfolio-text,
.team-text {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-text h3,
.portfolio-text h3,
.team-text h3{
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;

}

.header-text h3::after,
.service-text h3::after,
.portfolio-text h3::after,
.team-text h3::after{
	content: "";
	clear: both;
	display: block;

	height: 12px;
	width: 12px;
	background-color: red;
	border-radius: 50%;

	position: absolute;
	bottom: -17px;
	left: 50%;

}

.about-content{
	display: flex; 
}
.about-content .left{
	width: 30%;
	margin: 32px 3%;
}
.about-content .right{
	width: 60%;
	margin: 10px 2%;
}
.about-content .left .image img{
	width: 100%;
	
}
.about-content .left .image{
	position: relative;
}

 .about-content .left .social{
 	background-color: rgba(0, 0, 0, .5);
 	position: absolute;
 	bottom: 3px;
 	left: 0;
 	right: 0;
 	color: white;
 	text-align: center;
 	padding: 0 20px 25px 0;
 }
 .about-content .left .social h3{
 	text-transform: uppercase;
 }
.about-content .left .social ul{
  	display: flex;
  	justify-content: center;

  }
 .about-content .left .social ul li a{
 	color: white;
 	background-color: rgba(0, 0, 0, .6);
 	border-radius: 50%;
 	padding: 6px 8px;
 	margin: 5px;
 	font-size: 20px;
 	transition: .7s;
 }
 .about-content .left .social ul li a:hover{
 	color: black;
 	background-color: white;
 }
 .about-content .right button{
 	border: none;
 	background-color: red;
    font-size: 15px;
	padding: 12px 20px;
	margin-top: 50px;
	color: white;
 }
 .about-content .right button a{
 	color: white;
 	margin: 2px;
 }

 /*Thia is more about us section*/
 
.aboutus,
.my-name{
 	background-image: url("images/aboutUS.png");
 	height: 300px;
 	margin-bottom: 20px;
 	position: relative;
 	z-index: 1;

 }
 .overlay{
 	background: rgba(0, 0, 0, .6);
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -1;

 }

 .aboutus h3{
 	text-align: center;
 	color: white;
 	padding-top: 100px;
 	font-size: 25px;
 	padding-bottom: 40px;
 }
 .aboutus-content a {
    font-size: 20px;
	color: white;
	border: 2px solid white;
	border-radius: 25%;
	padding: 10px 15px;
	margin: 50%;
  }
  /*This is our service section*/
  .service-text{
  	text-align: center;
	padding-bottom: 20px;
  }
  .service-text h3{
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-top: 10px;
	position: relative;
	font-weight: bold;
}
 
 .col{
 	width: 100%;
 	text-align: center;
 	padding: 15px;
 }
 .col a{
 	color: red;
 	font-size: 40px;
 	font-weight: bold;
 }
 .col h3{
 	padding-bottom: 0;
 }
 .col p{
 	padding-top:0;
 	font-size: 15px;
 	line-height: 22px;

 }
 .service-content{
 	display: flex;
	justify-content: space-between;
 }

 /*This is skill section*/
 .skill{
 	background-color: rgba(0, 0, 0, .1);
 	padding-bottom: 40px;

 }
 .skill-content{
 	width: 100%;
 	display: flex;
 	justify-content: space-between;
 }
  .skill-content .skill-content-left{
  	width: 100%;
  }
.skill-content .skill-content-right{
	width: 100%;
	padding: 50px 10px 20px 30px;
	margin-left: 20px;
}
 .skill-content .skill-content-left p,
 .skill-content .skill-content-right p{
 	font-size: 15px;
 	line-height: 25px;
 }

.prgress-content{
	width: 100%;
}
.progress-item{
	width: 100%;
	padding: 0px 5px;
}
.progress-item .progress-outer{
	width: 100%;
	height: 18px;
	background-color: black;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	border-radius: 15px;
}
.progress-outer .progress-inner{
	height: 60%;
	background-color: red;
	margin: 3px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
	overflow: hidden;

}
.p1{
	width: 60%;
	background-color: red;
}
.p2{
	width: 70%;
	background-color: red;
}
.p3{
	width: 80%;
	background-color: red;
}
.progress-item .progress-outer p{
	float: right;
	color: greenyellow;
	z-index: -1;
	padding: 5px;
}

/*Tis is client section*/
.client{
 	background-image: url("images/client.png");
 	height: 250px;
 	margin-bottom: 20px;

 	position: relative;
 	z-index: 1;
}
.client .overlay{
 	background: rgba(0, 0, 0, .6);
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -1;
 }
 .client-content{
 	width: 100%;
 	display: flex;
 	justify-content:space-between;
 	align-items: center;
 	text-align: center;
 	
 }
.content-details{
	width: 100%;
	color: white;
	margin-top: 50px;
	padding: 0;
}
.content-details a{
	color: white;
	font-size: 20px;
	padding: 0;
	border: 3px solid white;
	border-radius: 50%;
	padding: 5px 10px;
}

.content-details p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	padding: 0;
}
/*This is portfolio section*/
.portfolio-menu ul{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.portfolio-menu ul li a{
	text-decoration: none;
	padding: 10px;
	text-align: center;
}
.portfolio .port-items{
	display: flex;
	justify-content: space-between;	
}
.port-items .port-item{
	width: 32%;
	padding: 10px;
	
}
.port-item img{
	width: 100%;
}

/*This is my team section*/
.my-teams{
	background-color: rgba(0, 0, 0, .2);
}
.my-team{
	/*display: flex;
	justify-content:space-between;*/
	padding: 20px;
}
.team-ul{
	list-style: none;

}

/*.about-content{
	display: flex; 
}
.about-content .left{
	width: 30%;
	margin: 20px;
}
.about-content .right{
	width: 60%;
	margin: 10px 2%;
}
.about-content .left .image img{
	width: 100%;
	
}
.about-content .left .image{
	position: relative;
}

.about-content .left .social{
 	background-color: rgba(0, 0, 0, .7);
 	position: absolute;
 	bottom: 3px;
 	left: 0;
 	right: 0;
 	color: white;
 	text-align: center;
 	padding: 0 20px 25px 0;
 }
.about-content .left .social h3{
 	text-transform: uppercase;
 }
.about-content .left .social ul{
  	display: flex;
  	justify-content: center;

  }
.about-content .left .social ul li a{
 	color: white;
 	background-color: rgba(0, 0, 0, .6);
 	border-radius: 50%;
 	padding: 6px 8px;
 	margin: 5px;
 	font-size: 20px;
 	transition: .7s;
 }
.about-content .left .social ul li a:hover{
 	color: black;
 	background-color: white;
 }*/
/*This is name section*/
 .name-h4{
	text-align: center;
}
.logo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: auto;
	padding-top: 30px;
}
.my-name-content h4{
	color: white;
}
.my-name-content p{
	color: white;
	text-align: center;
}
.my-name-content .overlay{
	background-color: rgba(0, 0, 0, .6);
}

/*This is latest blog section*/
.blog-content-1{
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}
.blog-content-1 .col{
padding: 30px;
 box-shadow: 5px 5px 8px 5px #888888;
 margin-bottom: 40px;
}
.blog-content-1 img{
	width: 100%;

}
.blog-content-1 h4  {
	text-align: left;
}
.blog-content-1 p{
	text-align: left;
}
.blog-content-1 .date{
	text-align: left;
	font-size: 8px;
}
 .button{
	float: left;
	background-color: black;
	border: none;
	padding: 10px 15px;
	color: white;
}

/*This is form section*/
.form{
 	background-image: url("images/banner2.jpg");
 	/*height: 500px;*/
 
   position: relative;
 	z-index: 1;
	padding: 20px;

 }
.overlay{
 	background: rgba(0, 0, 0, .6);
 	width: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -1;

 }
.header-text .latest{
	color: white;
}
.form-fill{
	width: 100% 100%;
	text-align: center;
}
.form-fill .fill-2 input{
	width:100%;
	box-sizing: border-box;
	border: 2px solid white;
  font-size: 16px;
  background-color: none;
  margin: 10px 50px;
	color: white;

}
.form-fill .middle textarea{
	width: 100%;
	align-items: center;
	color: white;
}
.middle{
	margin: 0 150px;
	
}
.fill-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 
	97px;
	padding-bottom: 20px;
	color: white;
}

.form-fill form input,
.form-fill form textarea{
	border: 1px solid white;
	background: transparent;
	outline: none;
	padding: 10px 5px;
	border-radius: 5px;

}
.form-fill form input::placeholder,
.form-fill form textarea::placeholder{
	color: white;
}
.form-fill button{
	margin-top: 20px;
	background-color: red;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 15px;

}
.form-fill button a{
	color: white;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
/*This is footer section*/
.footer{
	
	background-color: black;
	
	
}

 .footer-menu .footer-social a {
	color: white;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.f-ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-menu .footer-social ul{
	display: flex;
	align-items: left;
	padding: 40px 0;
}
.footer-menu .footer-social ul li a{
	text-decoration: none;
	padding: 0 10px;
	color:  #FEFEFE;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500 ;
}
.f-text{
	color: white;
	font-size: 10px;
	padding-bottom: 20px;
}